@media (max-width: 1070px){

.progress_container_total{
    display: grid;
    grid-template-columns: 1fr;
}

.project_detail_contenedor{
    display: grid;
    grid-template-columns: 1fr;
}

.blog_contenedor_article{
    display: grid;
    grid-template-columns: 1fr;
}

}